body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}
.menu {
  background-color: #f4f4f4;
  border-redius: 8px;
  padding: 30px;
  max-width: 600px;
}
h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
  display: inline-block;
}
.item {
  margin-bottom: 20px;
  margin: 20, 20, 20, 20;
  position: relative;
  background-color: white;
  padding: 16px;
  border-redius: 30px;
}
.des {
  font-size: 14px;
  line-height: 1.4;
}
.price {
  color: deepskyblue;
}
.line {
  color: aqua;
}
